<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Stammdaten
    <small>Titel</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to static_dashboard_path do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>
    <li>
      <%= link_to resellers_url do %>
        <i class="fa fa-circle-o"></i> Titel
      <% end %>
    </li>
    <li class="active">
      <i class="fa fa-circle-o"></i> Titel bearbeiten
    </li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-6 col-xs-12 col-lg-offset-3">
      <div class="box box-primary">
        <div class="box-header">
          <span class="fa fa-circle-o"></span><h3 class="box-title">Titel bearbeiten</h3>
        </div>
        <div class="box-body">
          <%= render 'form', title: @title %>
        </div>
        <div class="box-footer">

        </div>
      </div>
    </div>
  </div>
</section>
